* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: red;
    height: 100px;
    width: 100%;
    display: flex;
}

.left-header .case{
    height: 50px;
    width: 75px;
    margin-right: 25px;
}

.logo {
    background-color: blue;
}

.link {
    background-color: purple;
}

.left-header{
    width: 50%;
    height: 100px;
    display: flex;  
    align-items: center;
}

.right-header {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.right-header .case {
    height: 50px;
    width: 75px;
    margin-left: 25px;
}

.button {
    background-color: green;
}

main {
    background-color: aqua;
    width: 100vw;
    height: 5000px;
}

.jumbotron {
    background-color: grey;
    width: 100%;
    height: 500px;
    padding-top: 25px;
}

.top-jumbotron {
    width: 1170px;
    height: 150px;
    background-color: black;
    margin: 0px auto 25px;
}

.bottom-jumbotron {
    width: 1170px;
    height: 300px;
    background-color: darkblue;
    margin: auto;
    display: flex;
}

.text {
    width: 30%;
    height: 250px;
    background-color: green;
}

.img{
    width: 70%;
    height: 350px;
    background-color: coral;
}

.main-corp {
    width: 1000px;
    height: 3000px;
    margin: 100px auto 0px;
    background-color: yellow;
}

.big-title {
    width: 100%;
    height: 100px;
    background-color: orange;
}

.column-container{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.column{
    width: 30%;
    height: 600px;
    background-color: blueviolet;
}

.team {
    width: 100%;
    height: 250px;
    background-color: cornsilk;
    margin-top: 25px;
}

.third-box{
    width: 100%;
    height: 400px;
    background-color: darkblue;
    margin: auto;
    display: flex;
    align-items: center;
    margin: 25px 0px;
}


.cards-container {
    width: 100%;
    height: 950px;
    background-color: crimson;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    height: 450px;
    width: 30%;
    background-color: brown;
}

.card-img{
    height: 200px;
    width: 80%;
    background-color: green;
    margin-top: 25px;
    margin-left: 30px;
}

.card-text{
    height: 200px;
    width: 80%;
    background-color: red;
    margin-left: 30px;
}

.last-mainpart{
    height: 400px;
    width: 100%;
    background-color: cornflowerblue;
    margin-top: 50px;
}

.brands-container{
    width: 100vw;
    height: 500px;
    background-color: lawngreen;
    display: flex;
}

.logo-img{
    height: 250px;
    width: 50%;
    background-color: darkgreen;
    display: flex;
    border: 1px solid black;
}

.logo-container{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
}

.logo-text{
    width: 33%;
    height: 500px;
    background-color: blue;
}

.free-trial{
    background-color: chocolate;
    width: 100%;
    height: 300px;
    padding: 50px 0px;
}

.free-trial div{
    background-color: blue;
    height: 200px;
    width: 1000px;
    margin: auto;
}

.questions{
    height: 500px;
    width: 1000px;
    background-color: pink;
    margin: 50px auto;
}

footer{
    height: 600px;
    background-color: black;
    width: 100%;
    padding: 50px 0px;
}

.footer-container {
    width: 1170px;
    height: 300px;
    background-color: orchid;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    height: 300px;
    width: 20%;
    background-color: brown;
    border: 1px solid red;
}

.language{
    height: 100px;
    width: 100px;
    margin: 50px 20%;
    background-color: white;
}