* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: white;
    height: 70px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

ul {
    list-style: none;
}

.right-header li {
    margin: 0px 20px;
}

li a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.left-header {
    width: 50%;
    display: flex;
    align-items: center;
}

.right-header {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.button {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
}

.btn-blue {
    background-color: blue;
    color: white;
}

.jumbotron {
    background-color: rgb(180, 208, 231);
    padding: 100px 0px 0px;
    max-height: 700px;
}

.jumbotron-container {
    width: 1170px;
    margin: auto;
}

.jumbotron-container h1 {
    font-size: 75px;
}

.bottom-jumbotron {
    display: flex;
}

.text {
    width: 30%;
}

.img {
    width: 70%;
}

.text * {
    margin: 20px 0px;
}

.img img {
    width: 100%;
}

a i {
    font-size: 50px;
    color: black;
}

.main-part {
    width: 1000px;
    margin: auto;
    padding: 100px 0px 0px;
}

.main-part h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.title {
    display: inline-block;
    font-size: 16px;
    font-weight: 200;
    margin-right: 5px;
}

.crl-blue {
    color: blue;
}

.crl-grey {
    color: grey;
}

.column-container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.column {
    width: 30%;
    border: 1px solid grey;
}

.column h4 {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    border-bottom: 1px solid grey;
}

.indent h2 {
    font-size: 30px;
}

.indent {
    padding: 25px;
}

.price {
    font-weight: 800;
}

.margin-rt {
    margin-right: 5px;
}

.date {
    margin-top: 5px;
    color: grey;
}

.options li {
    margin: 35px 0px;
}

.last {
    margin-top: 60px;
}

.underline {
    border-bottom: 1px solid grey;
    padding-bottom: 50px;
}

.direct-link {
    margin: 50px 0px 100px;
}

.summary li {
    margin: 35px 0px;
}

.summary li i {
    color: blue;
}

.column button {
    width: 100%;
}

.team {
    width: 100%;
    height: 250px;
    background-color: cornsilk;
    margin-top: 25px;
}

.third-box{
    width: 100%;
    height: 400px;
    background-color: darkblue;
    margin: auto;
    display: flex;
    align-items: center;
    margin: 25px 0px;
}


.cards-container {
    width: 100%;
    height: 950px;
    background-color: crimson;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    height: 450px;
    width: 30%;
    background-color: brown;
}

.card-img{
    height: 200px;
    width: 80%;
    background-color: green;
    margin-top: 25px;
    margin-left: 30px;
}

.card-text{
    height: 200px;
    width: 80%;
    background-color: red;
    margin-left: 30px;
}

.last-mainpart{
    height: 400px;
    width: 100%;
    background-color: cornflowerblue;
    margin-top: 50px;
}

.brands-container{
    width: 100vw;
    height: 500px;
    background-color: lawngreen;
    display: flex;
}

.logo-img{
    height: 250px;
    width: 50%;
    background-color: darkgreen;
    display: flex;
    border: 1px solid black;
}

.logo-container{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
}

.logo-text{
    width: 33%;
    height: 500px;
    background-color: blue;
}

.free-trial{
    background-color: chocolate;
    width: 100%;
    height: 300px;
    padding: 50px 0px;
}

.free-trial div{
    background-color: blue;
    height: 200px;
    width: 1000px;
    margin: auto;
}

.questions{
    height: 500px;
    width: 1000px;
    background-color: pink;
    margin: 50px auto;
}

footer{
    height: 600px;
    background-color: black;
    width: 100%;
    padding: 50px 0px;
}

.footer-container {
    width: 1170px;
    height: 300px;
    background-color: orchid;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    height: 300px;
    width: 20%;
    background-color: brown;
    border: 1px solid red;
}

.language{
    height: 100px;
    width: 100px;
    margin: 50px 20%;
    background-color: white;
}